'--enable-eri=1' '--enable-1body=1' '--enable-eri3=0' '--enable-eri2=0' '--with-max-am=7' '--with-opt-am=3' '--enable-generic-code' '--enable-contracted-ints' '--prefix=/home/awild/devel/libint/build_firstDeriv/install' '--with-libdirs=-L/sw/gmp/6/2/0/install/lib' 'CXX=/home/software/gcc/8/2/0/install/bin/g++' 'CC=/home/software/gcc/8/2/0/install/bin/gcc'
