'--enable-eri=0' '--enable-1body=0' '--enable-eri3=0' '--enable-eri2=0' '--with-max-am=7' '--with-opt-am=3' '--disable-unrolling' '--enable-generic-code' '--enable-contracted-ints' '--with-incdirs=-I/home/dbwy/local/include/eigen3 -I/home/dbwy/local/boost/1.59/include/boost' '--with-libdirs=-L/home/dbwy/local/boost/1.59/lib' '--with-cxx=g++' '--with-cxx-optflags=-std=c++11 -O3' '--with-cxxgen-optflags=-std=c++11 -O3' '--prefix=/home/dbwy/local'
